@model TemaParcursTutorialASP.Models.Employee

@{
    ViewBag.Title = "View Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Employee</h2>

<div>
    <p>Id: @Model.EmployeeId</p>
    <p>Name: @Model.EmployeeName</p>
    <p>Age: @Model.Age</p>
</div>

