@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Student</h1>
    <p class="lead">To be a student is to have a vocation, and all true vocations are holy and honorable callings placed upon people by God in creation and redemption.</p>
    <p><a href="https://blogs.cui.edu/core/2016/01/25/what-does-it-mean-to-be-a-student/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="jumbotron">
    <h1>Employee</h1>
    <p class="lead">Ability is what you’re capable of doing. Motivation determines what you do. Attitude determines how well you do it.</p>
    <p><a href="https://www.bmeaningful.com/blog/2018/05/how-to-be-the-best-employee/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

